*
{
    padding: 0;
    border: 0;
    margin: 0;
}


#b
{
    height: 600px;
    width:600px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.d
{
    background-color: #000031;
    color:goldenrod;
    font-size: 2.5em;
    font-weight: bold;
    height: 100%;
    width:100%;
   

}
#a
{
 height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   

  
}